.authors-list {
  &-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 20px;
    margin-top: 100px;
  }

  &-card {
    flex-basis: 20%;
    background-color: rgba(148, 187, 233, 1);
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px;
  }

  &__name {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-align: center;
  }
}
