<section class="book-create">
  <div class="book-create-container">
    <h1 class="book-create__title">Create book</h1>

    <form class="book-create-form" [formGroup]="createBookForm" (ngSubmit)="submit()">
      <mat-form-field appearance="legacy" hideRequiredMarker>
        <mat-label>Book title</mat-label>
        <input matInput type="text" name="title" required formControlName="title">
      </mat-form-field>

      <mat-form-field hideRequiredMarker>
        <mat-label>Book description</mat-label>
        <input matInput type="text" name="description" required formControlName="description">
      </mat-form-field>

      <mat-form-field hideRequiredMarker>
        <mat-label>Author</mat-label>
        <mat-select name="author" required formControlName="author">
          <mat-option *ngFor="let author of authors" [value]="author.id">
            {{author.firstName}}
            {{author.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field hideRequiredMarker>
        <mat-label>Genres</mat-label>
        <input matInput type="text" name="genres" required formControlName="genres">
      </mat-form-field>

      <mat-form-field hideRequiredMarker>
        <mat-label>Book price</mat-label>
        <input matInput type="number" name="price" required formControlName="price">
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Create</button>
    </form>
  </div>
</section>
