<div class="author-details-container" *ngIf="author">
    <div class="author">
        <img src="../../../../assets/img/authors/baby-yoda.jpg">
        <div class="author-info">
            <b>Author:</b>
            <div class="author-info">
                {{author.firstName}}
                {{author.lastName}}
            </div>
            <b>Books:</b>
            <div class="author-info__books" *ngFor="let book of author.books">
                {{book}}
            </div>
        </div>
    </div>
</div>
