.create-book-form {
  display: flex;
  flex-direction: column;
}

.create-book-form__label {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 5px;
}

.create-book-form__input {
  font-size: 28px;
  font-weight: 300;
  color: cornflowerblue;
  background-color: white;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  margin-bottom: 10px;

  &::placeholder {
    color: cornflowerblue;
  }
}

.create-book-form__button {
  font-size: 28px;
  font-weight: 500;
  color: white;
  background-color: cornflowerblue;
  border: none;
  border-radius: 5px;
}
