<form class="create-book-form">
    <label class="create-book-form__label" for="title">Title</label>
    <input class="create-book-form__input" id="title" type="text" placeholder="Cock">
    <label class="create-book-form__label" for="description">Description</label>
    <input class="create-book-form__input" id="description" type="text" placeholder="Cock description">
    <label class="create-book-form__label" for="price">Price</label>
    <input class="create-book-form__input" id="price" type="text" placeholder="Cock price">
    <button class="create-book-form__button" type="submit">Create</button>
</form>
