<section class="book-create">
  <div class="book-create-container">
    <h1 class="book-create__title">Create book</h1>
    <form class="book-create-form">
      <mat-form-field appearance="legacy">
        <mat-label>Book title</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Book description</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Author</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Genres</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Book price</mat-label>
        <input matInput type="number">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Create</button>
    </form>
<!--    <form class="book-create-form">-->
<!--      <label class="book-create-form__label" for="title">Title</label>-->
<!--      <input-->
<!--        class="book-create-form__input"-->
<!--        id="title"-->
<!--        type="text"-->
<!--        placeholder="Book title"-->
<!--      >-->

<!--      <label class="book-create-form__label" for="description">Description</label>-->
<!--      <input-->
<!--        class="book-create-form__input"-->
<!--        id="description"-->
<!--        type="text"-->
<!--        placeholder="Book description"-->
<!--      >-->

<!--      <label class="book-create-form__label" for="author">Author</label>-->
<!--      <input-->
<!--        class="book-create-form__input"-->
<!--        id="author"-->
<!--        type="text"-->
<!--        placeholder="Author"-->
<!--      >-->

<!--      <label class="book-create-form__label" for="genres">Genres</label>-->
<!--      <input-->
<!--        class="book-create-form__input"-->
<!--        id="genres"-->
<!--        type="text"-->
<!--        placeholder="Genres"-->
<!--      >-->

<!--      <label class="book-create-form__label" for="price">Price</label>-->
<!--      <input-->
<!--        class="book-create-form__input"-->
<!--        id="price"-->
<!--        type="text"-->
<!--        placeholder="Book price"-->
<!--      >-->

<!--      <button class="book-create-form__button" type="submit">Create</button>-->
<!--    </form>-->
  </div>
</section>


