<section class="registration">
  <div class="registration-container">

    <pre>
      {{ registrationForm.valid | json }}
    </pre>

    <form class="registration-form"
          [formGroup]="registrationForm"
          (ngSubmit)="registrationForm.valid && submit()">
      <h1 class="mat-display-3">Registration</h1>

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          name="email"
          formControlName="email"
          matInput
        >
      </mat-form-field>

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Username</mat-label>
        <input
          type="text"
          name="username"
          formControlName="username"
          matInput
        >
      </mat-form-field>

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Password</mat-label>
        <input
          type="password"
          name="password"
          formControlName="password"
          matInput
        >
      </mat-form-field>

      <mat-form-field hideRequiredMarker appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input
          type="password"
          name="confirmPassword"
          formControlName="confirmPassword"
          matInput
        >

        <mat-error *ngIf="registrationForm.controls['confirmPassword']?.errors?.passwordMismatch">
          Пароли не совпадают
        </mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Login</button>
      <p class="registration__link" routerLink="../">Already have an account? Sign in!</p>
    </form>
  </div>
</section>
